<!DOCTYPE html>
<html>
  <head>
    <title>MongoCMS</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="css/main.css">
  </head>
</html>
<body ontouchstart class="clear md-mode">
  <div class="container">
    <div id="sidebar" class="column animate">
      <div class="logo pull-left clear"><h2>MongoCMS <span>v0.0.1</span></h2></div>
      <ul class="clear documents">
        <li class="clear"><a href="/" class="draft">
            <p>Whoooi title</p><span class="published pull-left">Draft</span><span class="views pull-right"></span></a></li>
        <li><a href="#" class="draft">
            <p>Long live PHP</p><span class="published pull-left">Draft</span><span class="views pull-right"></span></a></li>
        <li><a href="#">
            <p>Sure again why not</p><span class="published pull-left">2 days ago</span><span class="views pull-right"><i class="fa fa-eye"></i>1543</span></a></li>
        <li><a href="#">
            <p>Why do titles have to be so long tho?</p><span class="published pull-left">2 months ago</span><span class="views pull-right"><i class="fa fa-eye"></i>200</span></a></li>
        <li><a href="#">
            <p>769768544563783</p><span class="published pull-left">2 months ago</span><span class="views pull-right"><i class="fa fa-eye"></i>200</span></a></li>
      </ul>
      <div class="add-new-doc text-center"><i class="fa fa-plus"></i></div>
      <footer class="clear text-center">&copy; 2013<br>Powered by Node-Webkit</footer>
    </div>
    <div id="main" class="column">
      <header class="clear">
        <ul class="nav pull-left">
          <li><a href="#" data-target="collection">Collections</a></li>
          <li><a href="#" data-target="config">Configure</a></li>
        </ul>
        <div class="status-pane pull-right">
          <p class="connection">Connected</p>
          <p class="status">Idle</p>
        </div>
      </header>
      <div class="content-wrapper">
        <div class="content">
          <div class="row clear">
            <div class="key pull-left">What's up Key</div>
            <div class="value pull-right">Hey value</div>
          </div>
          <div class="row new clear">
            <input placeholder="key" class="key pull-left">
            <input placeholder="value" class="value pull-right">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="md-overlay"></div>
  <div class="md-content centered animate">
    <form id="connect" method="post" action="#" class="connect">
      <div class="connect-pane">
        <p class="text-center title">Connect</p>
        <div class="js-float-label-wrapper">
          <label for="host">Host</label>
          <input type="text" name="host" value="localhost">
        </div>
        <div class="js-float-label-wrapper">
          <label>Port</label>
          <input type="text" name="port" value="27017">
        </div>
        <div class="js-float-label-wrapper">
          <label>Database</label>
          <input type="text" name="database">
        </div>
        <div class="js-float-label-wrapper">
          <label>User</label>
          <input type="text" name="username">
        </div>
        <div class="js-float-label-wrapper">
          <label>Pass</label>
          <input type="password" name="psw">
        </div>
        <button type="submit" class="btn center connect">Connect</button>
      </div>
      <div class="select-collection-pane hide">
        <p style="margin-bottom: 10px; font-weight: bold;" class="text-center title clear flat-green">Conected!</p>
        <select name="collection" style="width: 100%; margin: 10px 0;" class="collection-list hide clear">
          <option>Select Collection</option>
        </select><a href="#" class="show-connect center text-center small"><i class="fa fa-bolt"></i> New Connection</a>
      </div>
    </form>
  </div><span class="md-overlay-x">X</span>
  <script type="text/template" id="listItemTemplate"><a href="/" data-id="<%= id %>" class="draft"><span class="remove" data-key="<%= id %>"><i class="fa fa-times-circle"></i></span>
      <p class="title"><%= typeof(title) !== 'undefined' ? title : id %></p><span class="published pull-left">Draft</span><span class="views pull-right"></span></a></script>
  <script type="text/template" id="listItemTemplateEdit">
    <div class="breadcrumbs">
        <span class="root">
            {<a href="#" data-target="$root"><i class="fa fa-home"></i></a>}
        </span>
        <% _(tree).each(function(value){ %>
            <i class="fa fa-angle-right separator"></i>
            <a href="#" data-target="<%= value %>"><%= value %></a>
        <% }); %>
    </div>
    
    <% _(list).each(function(field) { %>
    
        <% if( field.key != '_id') { %>
            <div class="row clear ">
                <span class="remove" data-key="<%= field.key %>"><i class="fa fa-times-circle"></i></span>
                <% if(field.type == 1 /* object */){ %>
                    <div class="label nested"><%= field.key %></div>
                    <span class="pull-right">
                        <a href="#" class="navigate" data-key="<%= field.key %>" >
                            <i class="fa fa-chevron-circle-right flat-blue"></i>
                        </a>
                    </span>
                <% }else if(field.type == 2 /* HTML */){ %>
                    <div class="label"><%= field.key %></div>
                    <textarea data-editor="html" class="value inEdit" data-key="<%= field.key %>"><%= field.value %></textarea>
                <% }else if(field.type == 3 /* DATE */){ %>
                    <div class="label"><%= field.key %></div>
                    <input class="value inEdit" type="datetime-local" data-key="<%= field.key %>" value="<%= moment(field.value).format('YYYY-MM-DDTHH:mm:ss') %>"/>
                <% }else{ %>
                    <div class="label"><%= field.key %></div>
                    <input class="value inEdit" data-key="<%= field.key %>" value="<%= field.value %>"/>
                <% } %>
            </div>
        <% }else { %>
            <div class="row clear">
                <div class="label"><%= field.key %></div>
                <p><%= field.value.idString %><p/>
            </div>
        <% } %>
        
    <% }); %>
    
    <button class="btn btn-add center"><span>+<span></button>
    
  </script>
  <script type="text/template" id="addAttribute">
    <div class="row new clear">
      <input placeholder="key" class="newKey pull-left">
      <input placeholder="value" class="newValue pull-right">
    </div>
  </script>
  <script src="js/MongoCMS.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
</body>